@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #ffd753;
  --color-secondary: #f97133;
  /* --accent: #ffd753; */
  --color-accent: #ffdf9e;
  --color-tertiary: #ff5694;
  --color-background: #1a1a1a;
  --color-lighterbg: #2a2a2a;
  --color-text: #ebebeb;
}
