---
import CircleCheck from "../components/icons/CircleCheck.astro";
import Main from "../components/Main.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  pageTitle="Fulfillment"
  pageDescription="Our global fulfillment services for labels and artists"
>
  <Main class="px-8">
    <div class="py-8 pt-16">
      <div class="flex justify-center">
        <h1 class="text-6xl font-bold w-sm text-center">Contact Me</h1>
      </div>
    </div>
    <div class="flex py-8 justify-center">
      <div class="flex flex-col bg-lighterbg w-[36rem]">
        <div class="flex flex-col gap-8 p-8">
          <h2 class="text-2xl font-bold">Nick Preston.</h2>
        </div>
        <div class="px-8 pb-8 bg-lighterbg">
          <a href="mailto:nick@polychora.co" class="underline"
            >nick@polychora.co</a
          >
        </div>
      </div>
    </div>
  </Main>
</MainLayout>
