<footer>
  <p>&copy; 2025 Polychora LLC. All rights reserved.</p>
</footer>

<style>
  footer {
    font-family: "Poppins-Regular", sans-serif;
    background-color: var(--primary);
    color: var(--background);
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
  }
</style>
