---
const { id: idName, class: className = "" } = Astro.props;
---

<style>
  .section {
    border: 7px solid var(--text);
    border-radius: 40px;
  }

  :global(.section h2) {
    font-family: "Poppins-SemiBold", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    /* margin-bottom: 2rem; */
    color: var(--text);
  }

  @media (max-width: 768px) {
    :global(.section h2) {
      font-size: 2rem;
    }
  }
</style>

<section id={idName} class:list={["section", "p-2 py-8 md:p-8", className]}>
  <slot />
</section>
