---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polychora Records & Fulfillment</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style is:global>
      @font-face {
        font-family: "Poppins-Regular";
        font-weight: 400;
        font-stretch: normal;
        src:
          url("/fonts/Poppins-Regular.woff") format("woff"),
          url("/fonts/Poppins-Regular.ttf") format("truetype");
      }

      @font-face {
        font-family: "Poppins-SemiBold";
        font-weight: 600;
        font-stretch: normal;
        src:
          url("/fonts/Poppins-SemiBold.woff") format("woff"),
          url("/fonts/Poppins-SemiBold.ttf") format("truetype");
      }

      @font-face {
        font-family: "Poppins-Bold";
        font-weight: 700;
        font-stretch: normal;
        src:
          url("/fonts/Poppins-Bold.woff") format("woff"),
          url("/fonts/Poppins-Bold.ttf") format("truetype");
      }

      :root {
        --primary: #ffd753;
        --secondary: #f97133;
        /* --accent: #ffd753; */
        --accent: #ffdf9e;
        --tertiary: #ff5694;
        --background: #1a1a1a;
        --text: #ebebeb;
      }

      body {
        background-color: var(--background);
        color: var(--text);
        line-height: 1.6;
      }

      header {
        background-color: var(--primary);
        padding: 1rem;
        text-align: center;
      }

      header h1 {
        font-family: "Poppins-Bold";
        font-size: 3.5rem;
        font-weight: 700;
        color: var(--background);
        letter-spacing: 3px;
      }

      nav {
        font-family: "Poppins-SemiBold", sans-serif;
        font-weight: 600;
        background-color: var(--secondary);
        padding: 1rem;
      }

      nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      nav ul li {
        margin: 0 1rem;
      }

      nav ul li a {
        color: var(--background);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        transition: color 0.3s ease;
      }

      nav ul li a:hover {
        color: var(--accent);
      }

      .hero {
        font-family: "Poppins-Regular", sans-serif;
        background-color: var(--tertiary);
        color: var(--background);
        padding: 2rem 2rem;
        text-align: center;
      }

      .hero h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      .hero p {
        font-size: 1.4rem;
        max-width: 600px;
        margin: 0 auto;
      }

      @media (max-width: 768px) {
        header h1 {
          font-size: 2rem;
        }

        .hero h2 {
          font-size: 2.5rem;
        }

        .hero p {
          font-size: 1.2rem;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <h1>polychora.</h1>
    </header>

    <nav>
      <ul>
        <li><a href="#home">home</a></li>
        <li><a href="#services">services</a></li>
        <li><a href="#artists">artists</a></li>
      </ul>
    </nav>

    <section id="home" class="hero">
      <p>believing in unique artists.</p>
      <p>unfettered flows of creativity can be found here.</p>
    </section>

    <slot />
    <Footer />
  </body>
</html>
